### Childhood Autistic Spectrum Disorder Screening using Machine Learning

The early diagnosis of neurodevelopment disorders can improve treatment and significantly decrease the associated
healthcare costs. In this project, we will use supervised learning to diagnose Autistic Spectrum Disorder
(ASD) based on behavioural features and individual characteristics. More specifically, we will build and deploy a neural network using the Keras API. \
This project will use a dataset provided by the SmartBridge. The dataset is saved at: [GDrive link](https://drive.google.com/file/d/1MbSfEStcGwMkqSz8Md3HUHUPilJ4RA3Z/view?usp=sharing)

In [ ]:
import sys
import pandas as pd
import sklearn
import keras

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# import the dataset
file = '/content/drive/MyDrive/Colab Notebooks/Autism_Data.csv'

# read the csv
data = pd.read_csv(file, sep = ',', index_col = None)

In [ ]:
# print the shape of the DataFrame, so we can see how many examples we have
print(data.loc[0])

A1_Score                         1
A2_Score                         1
A3_Score                         1
A4_Score                         1
A5_Score                         0
A6_Score                         0
A7_Score                         1
A8_Score                         1
A9_Score                         0
A10_Score                        0
age                             26
gender                           f
ethnicity           White-European
jundice                         no
austim                          no
contry_of_res      'United States'
used_app_before                 no
result                           6
age_desc             '18 and more'
relation                      Self
Class/ASD                       NO
Name: 0, dtype: object

In [ ]:
# print out multiple patients at the same time
data.head()

,A1_Score,A2_Score,A3_Score,A4_Score,A5_Score,A6_Score,A7_Score,A8_Score,A9_Score,A10_Score,...,gender,ethnicity,jundice,austim,contry_of_res,used_app_before,result,age_desc,relation,Class/ASD
0,1,1,1,1,0,0,1,1,0,0,...,f,White-European,no,no,'United States',no,6,'18 and more',Self,NO
1,1,1,0,1,0,0,0,1,0,1,...,m,Latino,no,yes,Brazil,no,5,'18 and more',Self,NO
2,1,1,0,1,1,0,1,1,1,1,...,m,Latino,yes,yes,Spain,no,8,'18 and more',Parent,YES
3,1,1,0,1,0,0,1,1,0,1,...,f,White-European,no,yes,'United States',no,6,'18 and more',Self,NO
4,1,0,0,0,0,0,0,1,0,0,...,f,?,no,no,Egypt,no,2,'18 and more',?,NO

In [ ]:
# print out a description of the dataframe
data.describe()

,A1_Score,A2_Score,A3_Score,A4_Score,A5_Score,A6_Score,A7_Score,A8_Score,A9_Score,A10_Score,result
count,704.000000,704.000000,704.000000,704.000000,704.000000,704.000000,704.000000,704.000000,704.000000,704.000000,704.000000
mean,0.721591,0.453125,0.457386,0.495739,0.498580,0.284091,0.417614,0.649148,0.323864,0.573864,4.875000
std,0.448535,0.498152,0.498535,0.500337,0.500353,0.451301,0.493516,0.477576,0.468281,0.494866,2.501493
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000
50%,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,4.000000
75%,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,7.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,10.000000

In [ ]:
# drop unwanted columns
data = data.drop(['result', 'age_desc'], axis=1)

In [ ]:
data.head()

,A1_Score,A2_Score,A3_Score,A4_Score,A5_Score,A6_Score,A7_Score,A8_Score,A9_Score,A10_Score,age,gender,ethnicity,jundice,austim,contry_of_res,used_app_before,relation,Class/ASD
0,1,1,1,1,0,0,1,1,0,0,26,f,White-European,no,no,'United States',no,Self,NO
1,1,1,0,1,0,0,0,1,0,1,24,m,Latino,no,yes,Brazil,no,Self,NO
2,1,1,0,1,1,0,1,1,1,1,27,m,Latino,yes,yes,Spain,no,Parent,YES
3,1,1,0,1,0,0,1,1,0,1,35,f,White-European,no,yes,'United States',no,Self,NO
4,1,0,0,0,0,0,0,1,0,0,40,f,?,no,no,Egypt,no,?,NO

In [ ]:
# create X and Y datasets for training
data.rename(columns={'Class/ASD': 'Class'}, inplace=True)
x = data.drop(columns=['Class'])
y = data['Class']

In [ ]:
x.head()

,A1_Score,A2_Score,A3_Score,A4_Score,A5_Score,A6_Score,A7_Score,A8_Score,A9_Score,A10_Score,age,gender,ethnicity,jundice,austim,contry_of_res,used_app_before,relation
0,1,1,1,1,0,0,1,1,0,0,26,f,White-European,no,no,'United States',no,Self
1,1,1,0,1,0,0,0,1,0,1,24,m,Latino,no,yes,Brazil,no,Self
2,1,1,0,1,1,0,1,1,1,1,27,m,Latino,yes,yes,Spain,no,Parent
3,1,1,0,1,0,0,1,1,0,1,35,f,White-European,no,yes,'United States',no,Self
4,1,0,0,0,0,0,0,1,0,0,40,f,?,no,no,Egypt,no,?

In [ ]:
# convert the data to categorical values - one-hot-encoded vectors
X = pd.get_dummies(x)

In [ ]:
# print the new categorical column labels
X.columns.values

array(['A1_Score', 'A2_Score', 'A3_Score', 'A4_Score', 'A5_Score',
       'A6_Score', 'A7_Score', 'A8_Score', 'A9_Score', 'A10_Score',
       'age_17', 'age_18', 'age_19', 'age_20', 'age_21', 'age_22',
       'age_23', 'age_24', 'age_25', 'age_26', 'age_27', 'age_28',
       'age_29', 'age_30', 'age_31', 'age_32', 'age_33', 'age_34',
       'age_35', 'age_36', 'age_37', 'age_38', 'age_383', 'age_39',
       'age_40', 'age_41', 'age_42', 'age_43', 'age_44', 'age_45',
       'age_46', 'age_47', 'age_48', 'age_49', 'age_50', 'age_51',
       'age_52', 'age_53', 'age_54', 'age_55', 'age_56', 'age_58',
       'age_59', 'age_60', 'age_61', 'age_64', 'age_?', 'gender_f',
       'gender_m', "ethnicity_'Middle Eastern '",
       "ethnicity_'South Asian'", 'ethnicity_?', 'ethnicity_Asian',
       'ethnicity_Black', 'ethnicity_Hispanic', 'ethnicity_Latino',
       'ethnicity_Others', 'ethnicity_Pasifika', 'ethnicity_Turkish',
       'ethnicity_White-European', 'ethnicity_others', 'jundice_no',
       'jundice_yes', 'austim_no', 'austim_yes',
       "contry_of_res_'Costa Rica'", "contry_of_res_'Czech Republic'",
       "contry_of_res_'Hong Kong'", "contry_of_res_'New Zealand'",
       "contry_of_res_'Saudi Arabia'", "contry_of_res_'Sierra Leone'",
       "contry_of_res_'South Africa'", "contry_of_res_'Sri Lanka'",
       "contry_of_res_'United Arab Emirates'",
       "contry_of_res_'United Kingdom'", "contry_of_res_'United States'",
       "contry_of_res_'Viet Nam'", 'contry_of_res_Afghanistan',
       'contry_of_res_AmericanSamoa', 'contry_of_res_Angola',
       'contry_of_res_Argentina', 'contry_of_res_Armenia',
       'contry_of_res_Aruba', 'contry_of_res_Australia',
       'contry_of_res_Austria', 'contry_of_res_Azerbaijan',
       'contry_of_res_Bahamas', 'contry_of_res_Bangladesh',
       'contry_of_res_Belgium', 'contry_of_res_Bolivia',
       'contry_of_res_Brazil', 'contry_of_res_Burundi',
       'contry_of_res_Canada', 'contry_of_res_Chile',
       'contry_of_res_China', 'contry_of_res_Cyprus',
       'contry_of_res_Ecuador', 'contry_of_res_Egypt',
       'contry_of_res_Ethiopia', 'contry_of_res_Finland',
       'contry_of_res_France', 'contry_of_res_Germany',
       'contry_of_res_Iceland', 'contry_of_res_India',
       'contry_of_res_Indonesia', 'contry_of_res_Iran',
       'contry_of_res_Iraq', 'contry_of_res_Ireland',
       'contry_of_res_Italy', 'contry_of_res_Japan',
       'contry_of_res_Jordan', 'contry_of_res_Kazakhstan',
       'contry_of_res_Lebanon', 'contry_of_res_Malaysia',
       'contry_of_res_Mexico', 'contry_of_res_Nepal',
       'contry_of_res_Netherlands', 'contry_of_res_Nicaragua',
       'contry_of_res_Niger', 'contry_of_res_Oman',
       'contry_of_res_Pakistan', 'contry_of_res_Philippines',
       'contry_of_res_Portugal', 'contry_of_res_Romania',
       'contry_of_res_Russia', 'contry_of_res_Serbia',
       'contry_of_res_Spain', 'contry_of_res_Sweden',
       'contry_of_res_Tonga', 'contry_of_res_Turkey',
       'contry_of_res_Ukraine', 'contry_of_res_Uruguay',
       'used_app_before_no', 'used_app_before_yes',
       "relation_'Health care professional'", 'relation_?',
       'relation_Others', 'relation_Parent', 'relation_Relative',
       'relation_Self'], dtype=object)

In [ ]:
# print an example patient from the categorical data
X.loc[1]

A1_Score             1
A2_Score             1
A3_Score             0
A4_Score             1
A5_Score             0
                    ..
relation_?           0
relation_Others      0
relation_Parent      0
relation_Relative    0
relation_Self        1
Name: 1, Length: 150, dtype: int64

In [ ]:
# convert the class data to categorical values - one-hot-encoded vectors
Y = pd.get_dummies(y)

In [ ]:
Y.head()

   NO  YES
0   1    0
1   1    0
2   0    1
3   1    0
4   1    0

In [ ]:
from sklearn import model_selection
# split the X and Y data into training and testing datasets
X_train, X_test, Y_train, Y_test = model_selection.train_test_split(X, Y, test_size = 0.2)

### Building the Network - Keras

In [ ]:
# build a neural network using Keras
from keras.models import Sequential
from keras.layers import Dense
from keras.optimizers import Adam

# define a function to build the keras model
def create_model():
    # create model
    model = Sequential()
    model.add(Dense(8, input_dim=150, kernel_initializer='normal', activation='relu'))
    model.add(Dense(4, kernel_initializer='normal', activation='relu'))
    model.add(Dense(2, activation='sigmoid'))

    # compile model
    adam = Adam(lr=0.001)
    model.compile(loss='categorical_crossentropy', optimizer=adam, metrics=['accuracy'])
    return model

model = create_model()

print(model.summary())

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 8)                 1208

 dense_4 (Dense)             (None, 4)                 36

 dense_5 (Dense)             (None, 2)                 10

=================================================================
Total params: 1,254
Trainable params: 1,254
Non-trainable params: 0
_________________________________________________________________
None

/usr/local/lib/python3.10/dist-packages/keras/optimizers/legacy/adam.py:117: UserWarning: The `lr` argument is deprecated, use `learning_rate` instead.
  super().__init__(name, **kwargs)

### Training the Network

Now it's time for the fun! Training a Keras model is as simple as calling model.fit().

In [ ]:
# fit the model to the training data
model.fit(X_train, Y_train, epochs=50, batch_size=10, verbose = 1)

Epoch 1/50
57/57 [==============================] - 3s 4ms/step - loss: 0.6713 - accuracy: 0.7265
Epoch 2/50
57/57 [==============================] - 0s 3ms/step - loss: 0.6147 - accuracy: 0.7265
Epoch 3/50
57/57 [==============================] - 0s 3ms/step - loss: 0.5387 - accuracy: 0.7265
Epoch 4/50
57/57 [==============================] - 0s 4ms/step - loss: 0.4565 - accuracy: 0.7265
Epoch 5/50
57/57 [==============================] - 0s 4ms/step - loss: 0.3942 - accuracy: 0.7265
Epoch 6/50
57/57 [==============================] - 0s 3ms/step - loss: 0.3534 - accuracy: 0.7265
Epoch 7/50
57/57 [==============================] - 0s 4ms/step - loss: 0.3231 - accuracy: 0.7265
Epoch 8/50
57/57 [==============================] - 0s 3ms/step - loss: 0.2981 - accuracy: 0.7265
Epoch 9/50
57/57 [==============================] - 0s 4ms/step - loss: 0.2771 - accuracy: 0.8810
Epoch 10/50
57/57 [==============================] - 0s 4ms/step - loss: 0.2580 - accuracy: 0.9432
Epoch 11/50
57/57 [==============================] - 0s 4ms/step - loss: 0.2403 - accuracy: 0.9520
Epoch 12/50
57/57 [==============================] - 0s 3ms/step - loss: 0.2240 - accuracy: 0.9645
Epoch 13/50
57/57 [==============================] - 0s 3ms/step - loss: 0.2096 - accuracy: 0.9698
Epoch 14/50
57/57 [==============================] - 0s 4ms/step - loss: 0.1954 - accuracy: 0.9751
Epoch 15/50
57/57 [==============================] - 0s 4ms/step - loss: 0.1843 - accuracy: 0.9769
Epoch 16/50
57/57 [==============================] - 0s 3ms/step - loss: 0.1726 - accuracy: 0.9787
Epoch 17/50
57/57 [==============================] - 0s 3ms/step - loss: 0.1629 - accuracy: 0.9787
Epoch 18/50
57/57 [==============================] - 0s 3ms/step - loss: 0.1525 - accuracy: 0.9805
Epoch 19/50
57/57 [==============================] - 0s 3ms/step - loss: 0.1433 - accuracy: 0.9893
Epoch 20/50
57/57 [==============================] - 0s 3ms/step - loss: 0.1356 - accuracy: 0.9893
Epoch 21/50
57/57 [==============================] - 0s 2ms/step - loss: 0.1269 - accuracy: 0.9893
Epoch 22/50
57/57 [==============================] - 0s 3ms/step - loss: 0.1196 - accuracy: 0.9929
Epoch 23/50
57/57 [==============================] - 0s 3ms/step - loss: 0.1133 - accuracy: 0.9911
Epoch 24/50
57/57 [==============================] - 0s 3ms/step - loss: 0.1068 - accuracy: 0.9947
Epoch 25/50
57/57 [==============================] - 0s 3ms/step - loss: 0.1008 - accuracy: 0.9929
Epoch 26/50
57/57 [==============================] - 0s 3ms/step - loss: 0.0964 - accuracy: 0.9947
Epoch 27/50
57/57 [==============================] - 0s 3ms/step - loss: 0.0911 - accuracy: 0.9947
Epoch 28/50
57/57 [==============================] - 0s 3ms/step - loss: 0.0861 - accuracy: 0.9947
Epoch 29/50
57/57 [==============================] - 0s 3ms/step - loss: 0.0821 - accuracy: 0.9964
Epoch 30/50
57/57 [==============================] - 0s 3ms/step - loss: 0.0779 - accuracy: 0.9964
Epoch 31/50
57/57 [==============================] - 0s 3ms/step - loss: 0.0746 - accuracy: 0.9947
Epoch 32/50
57/57 [==============================] - 0s 3ms/step - loss: 0.0714 - accuracy: 0.9964
Epoch 33/50
57/57 [==============================] - 0s 3ms/step - loss: 0.0675 - accuracy: 0.9982
Epoch 34/50
57/57 [==============================] - 0s 3ms/step - loss: 0.0649 - accuracy: 0.9982
Epoch 35/50
57/57 [==============================] - 0s 3ms/step - loss: 0.0620 - accuracy: 0.9982
Epoch 36/50
57/57 [==============================] - 0s 3ms/step - loss: 0.0598 - accuracy: 0.9982
Epoch 37/50
57/57 [==============================] - 0s 3ms/step - loss: 0.0568 - accuracy: 0.9982
Epoch 38/50
57/57 [==============================] - 0s 3ms/step - loss: 0.0543 - accuracy: 0.9982
Epoch 39/50
57/57 [==============================] - 0s 3ms/step - loss: 0.0522 - accuracy: 0.9982
Epoch 40/50
57/57 [==============================] - 0s 3ms/step - loss: 0.0499 - accuracy: 0.9982
Epoch 41/50
57/57 [==============================] - 0s 3ms/step - loss: 0.0481 - accuracy: 0.9982
Epoch 42/50
57/57 [==============================] - 0s 3ms/step - loss: 0.0457 - accuracy: 0.9982
Epoch 43/50
57/57 [==============================] - 0s 3ms/step - loss: 0.0442 - accuracy: 0.9982
Epoch 44/50
57/57 [==============================] - 0s 3ms/step - loss: 0.0439 - accuracy: 0.9982
Epoch 45/50
57/57 [==============================] - 0s 3ms/step - loss: 0.0412 - accuracy: 0.9982
Epoch 46/50
57/57 [==============================] - 0s 3ms/step - loss: 0.0399 - accuracy: 0.9982
Epoch 47/50
57/57 [==============================] - 0s 3ms/step - loss: 0.0384 - accuracy: 0.9982
Epoch 48/50
57/57 [==============================] - 0s 3ms/step - loss: 0.0369 - accuracy: 0.9982
Epoch 49/50
57/57 [==============================] - 0s 3ms/step - loss: 0.0357 - accuracy: 0.9982
Epoch 50/50
57/57 [==============================] - 0s 3ms/step - loss: 0.0342 - accuracy: 0.9982

In [ ]:
# generate classification report using predictions for categorical model
from sklearn.metrics import classification_report, accuracy_score

predictions = model.predict(X_test)
predictions

5/5 [==============================] - 0s 3ms/step

array([[2.39066869e-01, 7.60933101e-01],
       [4.83306289e-01, 2.90148649e-02],
       [6.01213753e-01, 3.86110158e-03],
       [2.39066869e-01, 7.60933101e-01],
       [3.29359680e-01, 3.20021600e-01],
       [7.77381837e-01, 1.06527463e-04],
       [7.32749045e-01, 2.99796055e-04],
       [6.09707475e-01, 3.31795751e-03],
       [2.39066869e-01, 7.60933101e-01],
       [9.50796425e-01, 7.05022742e-08],
       [8.19755077e-01, 3.43952634e-05],
       [7.49242306e-01, 2.07551158e-04],
       [6.76595926e-01, 9.53034440e-04],
       [5.33204973e-01, 1.25488732e-02],
       [5.62407017e-01, 7.61441188e-03],
       [9.59973752e-01, 2.79729235e-08],
       [9.07126725e-01, 1.30647845e-06],
       [2.46298075e-01, 7.28976607e-01],
       [8.35795283e-01, 2.12468804e-05],
       [2.39066869e-01, 7.60933101e-01],
       [9.94489670e-01, 4.96836990e-12],
       [9.57805693e-01, 3.53971892e-08],
       [2.39066869e-01, 7.60933101e-01],
       [6.73543930e-01, 1.01143820e-03],
       [8.35323870e-01, 2.15611381e-05],
       [9.50795472e-01, 7.05081860e-08],
       [9.66292799e-01, 1.30391218e-08],
       [9.32935059e-01, 2.87708048e-07],
       [2.39066869e-01, 7.60933101e-01],
       [6.64668083e-01, 1.20049017e-03],
       [7.85264373e-01, 8.74437756e-05],
       [6.87025309e-01, 7.75967201e-04],
       [9.72074687e-01, 5.68152680e-09],
       [2.39066869e-01, 7.60933101e-01],
       [9.48530555e-01, 8.63576304e-08],
       [2.39066869e-01, 7.60933101e-01],
       [2.39066869e-01, 7.60933101e-01],
       [3.83720905e-01, 1.45660460e-01],
       [9.54301059e-01, 5.05887918e-08],
       [2.39066869e-01, 7.60933101e-01],
       [2.39066869e-01, 7.60933101e-01],
       [6.44249439e-01, 1.76578457e-03],
       [9.57083583e-01, 3.81858420e-08],
       [2.39066869e-01, 7.60933101e-01],
       [7.17916131e-01, 4.12247755e-04],
       [9.48216438e-01, 8.87615386e-08],
       [3.79108638e-01, 1.56381384e-01],
       [6.70087636e-01, 1.08153536e-03],
       [5.37233770e-01, 1.17185395e-02],
       [9.28555548e-01, 3.84813774e-07],
       [3.73890072e-01, 1.69344634e-01],
       [7.72078454e-01, 1.21318291e-04],
       [8.84677708e-01, 3.67266512e-06],
       [2.39066869e-01, 7.60933101e-01],
       [8.13993752e-01, 4.05575083e-05],
       [9.18424666e-01, 7.11315579e-07],
       [9.54882324e-01, 4.77673261e-08],
       [7.13695407e-01, 4.50504245e-04],
       [5.61948299e-01, 7.67490780e-03],
       [9.92321908e-01, 2.07394414e-11],
       [9.57089841e-01, 3.81610121e-08],
       [8.72545063e-01, 5.97769440e-06],
       [3.63515586e-01, 1.97887123e-01],
       [9.54777896e-01, 4.82651679e-08],
       [7.30838895e-01, 3.12539545e-04],
       [2.39066869e-01, 7.60933101e-01],
       [2.39066869e-01, 7.60933101e-01],
       [7.14012325e-01, 4.47525264e-04],
       [2.64372021e-01, 6.41657770e-01],
       [9.81173098e-01, 1.01045816e-09],
       [2.92925626e-01, 4.93579984e-01],
       [9.11958158e-01, 1.01613693e-06],
       [2.39066869e-01, 7.60933101e-01],
       [2.39066869e-01, 7.60933101e-01],
       [2.39066869e-01, 7.60933101e-01],
       [9.78697062e-01, 1.73312142e-09],
       [4.56662744e-01, 4.51000817e-02],
       [8.12410891e-01, 4.24067293e-05],
       [5.79821944e-01, 5.62817557e-03],
       [9.73031223e-01, 4.87381424e-09],
       [3.80459964e-01, 1.53170183e-01],
       [8.75230014e-01, 5.38590621e-06],
       [8.74302506e-01, 5.58460442e-06],
       [5.59046745e-01, 8.06843489e-03],
       [6.95196152e-01, 6.58816716e-04],
       [8.79085183e-01, 4.62134312e-06],
       [9.50365782e-01, 7.33225107e-08],
       [2.39066869e-01, 7.60933101e-01],
       [9.15697157e-01, 8.29291594e-07],
       [7.83952892e-01, 9.03959881e-05],
       [9.11132395e-01, 1.06166351e-06],
       [2.44252846e-01, 7.38215148e-01],
       [3.00294667e-01, 4.55909461e-01],
       [8.18703651e-01, 3.54562617e-05],
       [9.29935753e-01, 3.51756341e-07],
       [7.91149795e-01, 7.51996486e-05],
       [7.43969679e-01, 2.33832849e-04],
       [2.39066869e-01, 7.60933101e-01],
       [9.09609199e-01, 1.14994361e-06],
       [2.39066869e-01, 7.60933101e-01],
       [2.39066869e-01, 7.60933101e-01],
       [6.77008629e-01, 9.45379841e-04],
       [9.17234421e-01, 7.61006561e-07],
       [9.82371509e-01, 7.58636487e-10],
       [9.36180830e-01, 2.29252265e-07],
       [5.28883934e-01, 1.35029638e-02],
       [2.39066869e-01, 7.60933101e-01],
       [8.37086678e-01, 2.04058360e-05],
       [9.33631778e-01, 2.74257104e-07],
       [3.88697863e-01, 1.34832695e-01],
       [8.35339844e-01, 2.15504078e-05],
       [6.31112814e-01, 2.25109956e-03],
       [9.07089353e-01, 1.30896274e-06],
       [8.51777434e-01, 1.26418618e-05],
       [9.37467992e-01, 2.08879939e-07],
       [4.64939833e-01, 3.93441431e-02],
       [9.64768350e-01, 1.67392429e-08],
       [6.85263991e-01, 8.03582312e-04],
       [3.41772854e-01, 2.70533621e-01],
       [7.55142748e-01, 1.81263167e-04],
       [8.59949708e-01, 9.52088067e-06],
       [9.85255122e-01, 3.48857471e-10],
       [2.39066869e-01, 7.60933101e-01],
       [8.00480723e-01, 5.88162511e-05],
       [6.60699129e-01, 1.29512895e-03],
       [8.45929563e-01, 1.53645360e-05],
       [3.47768992e-01, 2.48711854e-01],
       [6.52195454e-01, 1.52155198e-03],
       [6.82702541e-01, 8.45344155e-04],
       [3.61186296e-01, 2.04823479e-01],
       [8.99361968e-01, 1.91112576e-06],
       [9.28826690e-01, 3.78133137e-07],
       [9.26990032e-01, 4.25272191e-07],
       [2.39066869e-01, 7.60933101e-01],
       [4.64993834e-01, 3.93090509e-02],
       [8.24258327e-01, 3.01510790e-05],
       [9.41122830e-01, 1.58762077e-07],
       [5.56507349e-01, 8.42874870e-03],
       [2.39066869e-01, 7.60933101e-01],
       [7.71046162e-01, 1.24396887e-04],
       [8.93040955e-01, 2.55620648e-06]], dtype=float32)

In [ ]:
print('Results for Categorical Model')
model.evaluate(X_test, Y_test)

Results for Categorical Model
5/5 [==============================] - 0s 4ms/step - loss: 0.1107 - accuracy: 0.9574

[0.11073453724384308, 0.957446813583374]