### Childhood Autistic Spectrum Disorder Screening using Machine Learning

The early diagnosis of neurodevelopment disorders can improve treatment and significantly decrease the associated
healthcare costs. In this project, we will use supervised learning to diagnose Autistic Spectrum Disorder
(ASD) based on behavioural features and individual characteristics. More specifically, we will build and deploy a neural network using the Keras API. \
This project will use a dataset provided by the SmartBridge. The dataset is saved at: [GDrive link](https://drive.google.com/file/d/1MbSfEStcGwMkqSz8Md3HUHUPilJ4RA3Z/view?usp=sharing)

In [ ]:
import sys
import pandas as pd
import sklearn
import keras
import numpy as np

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# import the dataset
file = '/content/drive/MyDrive/Colab Notebooks/Autism_Data.csv'

# read the csv
data = pd.read_csv(file, sep = ',', index_col = None)

In [ ]:
# print the shape of the DataFrame, so we can see how many examples we have
print(data.loc[0])

A1_Score                         1
A2_Score                         1
A3_Score                         1
A4_Score                         1
A5_Score                         0
A6_Score                         0
A7_Score                         1
A8_Score                         1
A9_Score                         0
A10_Score                        0
age                             26
gender                           f
ethnicity           White-European
jundice                         no
austim                          no
contry_of_res      'United States'
used_app_before                 no
result                           6
age_desc             '18 and more'
relation                      Self
Class/ASD                       NO
Name: 0, dtype: object

In [ ]:
# print out multiple patients at the same time
data.head()

,A1_Score,A2_Score,A3_Score,A4_Score,A5_Score,A6_Score,A7_Score,A8_Score,A9_Score,A10_Score,...,gender,ethnicity,jundice,austim,contry_of_res,used_app_before,result,age_desc,relation,Class/ASD
0,1,1,1,1,0,0,1,1,0,0,...,f,White-European,no,no,'United States',no,6,'18 and more',Self,NO
1,1,1,0,1,0,0,0,1,0,1,...,m,Latino,no,yes,Brazil,no,5,'18 and more',Self,NO
2,1,1,0,1,1,0,1,1,1,1,...,m,Latino,yes,yes,Spain,no,8,'18 and more',Parent,YES
3,1,1,0,1,0,0,1,1,0,1,...,f,White-European,no,yes,'United States',no,6,'18 and more',Self,NO
4,1,0,0,0,0,0,0,1,0,0,...,f,?,no,no,Egypt,no,2,'18 and more',?,NO

In [ ]:
# print out a description of the dataframe
data.describe()

,A1_Score,A2_Score,A3_Score,A4_Score,A5_Score,A6_Score,A7_Score,A8_Score,A9_Score,A10_Score,result
count,704.000000,704.000000,704.000000,704.000000,704.000000,704.000000,704.000000,704.000000,704.000000,704.000000,704.000000
mean,0.721591,0.453125,0.457386,0.495739,0.498580,0.284091,0.417614,0.649148,0.323864,0.573864,4.875000
std,0.448535,0.498152,0.498535,0.500337,0.500353,0.451301,0.493516,0.477576,0.468281,0.494866,2.501493
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000
50%,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,4.000000
75%,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,7.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,10.000000

In [ ]:
# drop unwanted columns
data = data.drop(['result', 'age_desc'], axis=1)

In [ ]:
data.head()

,A1_Score,A2_Score,A3_Score,A4_Score,A5_Score,A6_Score,A7_Score,A8_Score,A9_Score,A10_Score,age,gender,ethnicity,jundice,austim,contry_of_res,used_app_before,relation,Class/ASD
0,1,1,1,1,0,0,1,1,0,0,26,f,White-European,no,no,'United States',no,Self,NO
1,1,1,0,1,0,0,0,1,0,1,24,m,Latino,no,yes,Brazil,no,Self,NO
2,1,1,0,1,1,0,1,1,1,1,27,m,Latino,yes,yes,Spain,no,Parent,YES
3,1,1,0,1,0,0,1,1,0,1,35,f,White-European,no,yes,'United States',no,Self,NO
4,1,0,0,0,0,0,0,1,0,0,40,f,?,no,no,Egypt,no,?,NO

In [ ]:
# create X and Y datasets for training
data.rename(columns={'Class/ASD': 'Class'}, inplace=True)
x = data.drop(columns=['Class'])
y = data['Class']

In [ ]:
x.head()

,A1_Score,A2_Score,A3_Score,A4_Score,A5_Score,A6_Score,A7_Score,A8_Score,A9_Score,A10_Score,age,gender,ethnicity,jundice,austim,contry_of_res,used_app_before,relation
0,1,1,1,1,0,0,1,1,0,0,26,f,White-European,no,no,'United States',no,Self
1,1,1,0,1,0,0,0,1,0,1,24,m,Latino,no,yes,Brazil,no,Self
2,1,1,0,1,1,0,1,1,1,1,27,m,Latino,yes,yes,Spain,no,Parent
3,1,1,0,1,0,0,1,1,0,1,35,f,White-European,no,yes,'United States',no,Self
4,1,0,0,0,0,0,0,1,0,0,40,f,?,no,no,Egypt,no,?

In [ ]:
# convert the data to categorical values - one-hot-encoded vectors
X = pd.get_dummies(x)

In [ ]:
# print the new categorical column labels
X.columns.values

array(['A1_Score', 'A2_Score', 'A3_Score', 'A4_Score', 'A5_Score',
       'A6_Score', 'A7_Score', 'A8_Score', 'A9_Score', 'A10_Score',
       'age_17', 'age_18', 'age_19', 'age_20', 'age_21', 'age_22',
       'age_23', 'age_24', 'age_25', 'age_26', 'age_27', 'age_28',
       'age_29', 'age_30', 'age_31', 'age_32', 'age_33', 'age_34',
       'age_35', 'age_36', 'age_37', 'age_38', 'age_383', 'age_39',
       'age_40', 'age_41', 'age_42', 'age_43', 'age_44', 'age_45',
       'age_46', 'age_47', 'age_48', 'age_49', 'age_50', 'age_51',
       'age_52', 'age_53', 'age_54', 'age_55', 'age_56', 'age_58',
       'age_59', 'age_60', 'age_61', 'age_64', 'age_?', 'gender_f',
       'gender_m', "ethnicity_'Middle Eastern '",
       "ethnicity_'South Asian'", 'ethnicity_?', 'ethnicity_Asian',
       'ethnicity_Black', 'ethnicity_Hispanic', 'ethnicity_Latino',
       'ethnicity_Others', 'ethnicity_Pasifika', 'ethnicity_Turkish',
       'ethnicity_White-European', 'ethnicity_others', 'jundice_no',
       'jundice_yes', 'austim_no', 'austim_yes',
       "contry_of_res_'Costa Rica'", "contry_of_res_'Czech Republic'",
       "contry_of_res_'Hong Kong'", "contry_of_res_'New Zealand'",
       "contry_of_res_'Saudi Arabia'", "contry_of_res_'Sierra Leone'",
       "contry_of_res_'South Africa'", "contry_of_res_'Sri Lanka'",
       "contry_of_res_'United Arab Emirates'",
       "contry_of_res_'United Kingdom'", "contry_of_res_'United States'",
       "contry_of_res_'Viet Nam'", 'contry_of_res_Afghanistan',
       'contry_of_res_AmericanSamoa', 'contry_of_res_Angola',
       'contry_of_res_Argentina', 'contry_of_res_Armenia',
       'contry_of_res_Aruba', 'contry_of_res_Australia',
       'contry_of_res_Austria', 'contry_of_res_Azerbaijan',
       'contry_of_res_Bahamas', 'contry_of_res_Bangladesh',
       'contry_of_res_Belgium', 'contry_of_res_Bolivia',
       'contry_of_res_Brazil', 'contry_of_res_Burundi',
       'contry_of_res_Canada', 'contry_of_res_Chile',
       'contry_of_res_China', 'contry_of_res_Cyprus',
       'contry_of_res_Ecuador', 'contry_of_res_Egypt',
       'contry_of_res_Ethiopia', 'contry_of_res_Finland',
       'contry_of_res_France', 'contry_of_res_Germany',
       'contry_of_res_Iceland', 'contry_of_res_India',
       'contry_of_res_Indonesia', 'contry_of_res_Iran',
       'contry_of_res_Iraq', 'contry_of_res_Ireland',
       'contry_of_res_Italy', 'contry_of_res_Japan',
       'contry_of_res_Jordan', 'contry_of_res_Kazakhstan',
       'contry_of_res_Lebanon', 'contry_of_res_Malaysia',
       'contry_of_res_Mexico', 'contry_of_res_Nepal',
       'contry_of_res_Netherlands', 'contry_of_res_Nicaragua',
       'contry_of_res_Niger', 'contry_of_res_Oman',
       'contry_of_res_Pakistan', 'contry_of_res_Philippines',
       'contry_of_res_Portugal', 'contry_of_res_Romania',
       'contry_of_res_Russia', 'contry_of_res_Serbia',
       'contry_of_res_Spain', 'contry_of_res_Sweden',
       'contry_of_res_Tonga', 'contry_of_res_Turkey',
       'contry_of_res_Ukraine', 'contry_of_res_Uruguay',
       'used_app_before_no', 'used_app_before_yes',
       "relation_'Health care professional'", 'relation_?',
       'relation_Others', 'relation_Parent', 'relation_Relative',
       'relation_Self'], dtype=object)

In [ ]:
# print an example patient from the categorical data
X.loc[1]

A1_Score             1
A2_Score             1
A3_Score             0
A4_Score             1
A5_Score             0
                    ..
relation_?           0
relation_Others      0
relation_Parent      0
relation_Relative    0
relation_Self        1
Name: 1, Length: 150, dtype: int64

In [ ]:
# convert the class data to categorical values - one-hot-encoded vectors
Y = pd.get_dummies(y)

In [ ]:
Y.head()

   NO  YES
0   1    0
1   1    0
2   0    1
3   1    0
4   1    0

In [ ]:
from sklearn import model_selection
# split the X and Y data into training and testing datasets
X_train, X_test, Y_train, Y_test = model_selection.train_test_split(X, Y, test_size = 0.2)

### Building the Network - Keras

In [ ]:
# build a neural network using Keras
from keras.models import Sequential
from keras.layers import Dense
from keras.optimizers import Adam

# define a function to build the keras model
def create_model():
    # create model
    model = Sequential()
    model.add(Dense(8, input_dim=150, kernel_initializer='normal', activation='relu'))
    model.add(Dense(4, kernel_initializer='normal', activation='relu'))
    model.add(Dense(2, activation='sigmoid'))

    # compile model
    adam = Adam(learning_rate=0.001)
    model.compile(loss='categorical_crossentropy', optimizer=adam, metrics=['accuracy'])
    return model

model = create_model()

print(model.summary())

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 8)                 1208

 dense_1 (Dense)             (None, 4)                 36

 dense_2 (Dense)             (None, 2)                 10

=================================================================
Total params: 1,254
Trainable params: 1,254
Non-trainable params: 0
_________________________________________________________________
None

In [ ]:
print(type(X_train))
print(type(Y_train))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>

### Training the Network

Now it's time for the fun! Training a Keras model is as simple as calling model.fit().

In [ ]:
# fit the model to the training data
model.fit(np.asarray(X_train).astype('float32'), np.asarray(Y_train).astype('float32'), epochs=50, batch_size=10, verbose = 1)

Epoch 1/50
57/57 [==============================] - 4s 4ms/step - loss: 0.6412 - accuracy: 0.7123
Epoch 2/50
57/57 [==============================] - 0s 5ms/step - loss: 0.5160 - accuracy: 0.7123
Epoch 3/50
57/57 [==============================] - 0s 4ms/step - loss: 0.3982 - accuracy: 0.7123
Epoch 4/50
57/57 [==============================] - 0s 4ms/step - loss: 0.3387 - accuracy: 0.7123
Epoch 5/50
57/57 [==============================] - 0s 4ms/step - loss: 0.2995 - accuracy: 0.8526
Epoch 6/50
57/57 [==============================] - 0s 4ms/step - loss: 0.2680 - accuracy: 0.9307
Epoch 7/50
57/57 [==============================] - 0s 4ms/step - loss: 0.2430 - accuracy: 0.9574
Epoch 8/50
57/57 [==============================] - 0s 3ms/step - loss: 0.2211 - accuracy: 0.9680
Epoch 9/50
57/57 [==============================] - 0s 3ms/step - loss: 0.2023 - accuracy: 0.9751
Epoch 10/50
57/57 [==============================] - 0s 3ms/step - loss: 0.1860 - accuracy: 0.9769
Epoch 11/50
57/57 [==============================] - 0s 3ms/step - loss: 0.1702 - accuracy: 0.9822
Epoch 12/50
57/57 [==============================] - 0s 3ms/step - loss: 0.1607 - accuracy: 0.9858
Epoch 13/50
57/57 [==============================] - 0s 3ms/step - loss: 0.1456 - accuracy: 0.9911
Epoch 14/50
57/57 [==============================] - 0s 3ms/step - loss: 0.1381 - accuracy: 0.9929
Epoch 15/50
57/57 [==============================] - 0s 3ms/step - loss: 0.1273 - accuracy: 0.9947
Epoch 16/50
57/57 [==============================] - 0s 3ms/step - loss: 0.1214 - accuracy: 0.9982
Epoch 17/50
57/57 [==============================] - 0s 3ms/step - loss: 0.1121 - accuracy: 0.9964
Epoch 18/50
57/57 [==============================] - 0s 3ms/step - loss: 0.1056 - accuracy: 0.9964
Epoch 19/50
57/57 [==============================] - 0s 3ms/step - loss: 0.0980 - accuracy: 0.9982
Epoch 20/50
57/57 [==============================] - 0s 3ms/step - loss: 0.0926 - accuracy: 1.0000
Epoch 21/50
57/57 [==============================] - 0s 3ms/step - loss: 0.0856 - accuracy: 1.0000
Epoch 22/50
57/57 [==============================] - 0s 3ms/step - loss: 0.0809 - accuracy: 1.0000
Epoch 23/50
57/57 [==============================] - 0s 3ms/step - loss: 0.0762 - accuracy: 1.0000
Epoch 24/50
57/57 [==============================] - 0s 3ms/step - loss: 0.0719 - accuracy: 1.0000
Epoch 25/50
57/57 [==============================] - 0s 3ms/step - loss: 0.0674 - accuracy: 1.0000
Epoch 26/50
57/57 [==============================] - 0s 3ms/step - loss: 0.0648 - accuracy: 1.0000
Epoch 27/50
57/57 [==============================] - 0s 3ms/step - loss: 0.0612 - accuracy: 1.0000
Epoch 28/50
57/57 [==============================] - 0s 3ms/step - loss: 0.0572 - accuracy: 1.0000
Epoch 29/50
57/57 [==============================] - 0s 3ms/step - loss: 0.0546 - accuracy: 1.0000
Epoch 30/50
57/57 [==============================] - 0s 3ms/step - loss: 0.0512 - accuracy: 1.0000
Epoch 31/50
57/57 [==============================] - 0s 3ms/step - loss: 0.0487 - accuracy: 1.0000
Epoch 32/50
57/57 [==============================] - 0s 3ms/step - loss: 0.0461 - accuracy: 1.0000
Epoch 33/50
57/57 [==============================] - 0s 3ms/step - loss: 0.0439 - accuracy: 1.0000
Epoch 34/50
57/57 [==============================] - 0s 3ms/step - loss: 0.0418 - accuracy: 1.0000
Epoch 35/50
57/57 [==============================] - 0s 3ms/step - loss: 0.0400 - accuracy: 1.0000
Epoch 36/50
57/57 [==============================] - 0s 3ms/step - loss: 0.0399 - accuracy: 1.0000
Epoch 37/50
57/57 [==============================] - 0s 3ms/step - loss: 0.0363 - accuracy: 1.0000
Epoch 38/50
57/57 [==============================] - 0s 3ms/step - loss: 0.0347 - accuracy: 1.0000
Epoch 39/50
57/57 [==============================] - 0s 3ms/step - loss: 0.0331 - accuracy: 1.0000
Epoch 40/50
57/57 [==============================] - 0s 3ms/step - loss: 0.0315 - accuracy: 1.0000
Epoch 41/50
57/57 [==============================] - 0s 3ms/step - loss: 0.0302 - accuracy: 1.0000
Epoch 42/50
57/57 [==============================] - 0s 3ms/step - loss: 0.0288 - accuracy: 1.0000
Epoch 43/50
57/57 [==============================] - 0s 3ms/step - loss: 0.0278 - accuracy: 1.0000
Epoch 44/50
57/57 [==============================] - 0s 3ms/step - loss: 0.0267 - accuracy: 1.0000
Epoch 45/50
57/57 [==============================] - 0s 3ms/step - loss: 0.0256 - accuracy: 1.0000
Epoch 46/50
57/57 [==============================] - 0s 3ms/step - loss: 0.0246 - accuracy: 1.0000
Epoch 47/50
57/57 [==============================] - 0s 3ms/step - loss: 0.0240 - accuracy: 1.0000
Epoch 48/50
57/57 [==============================] - 0s 3ms/step - loss: 0.0227 - accuracy: 1.0000
Epoch 49/50
57/57 [==============================] - 0s 3ms/step - loss: 0.0226 - accuracy: 1.0000
Epoch 50/50
57/57 [==============================] - 0s 3ms/step - loss: 0.0211 - accuracy: 1.0000

In [ ]:
# generate classification report using predictions for categorical model
from sklearn.metrics import classification_report, accuracy_score

predictions = model.predict(np.asarray(X_test).astype('float32'))
predictions

5/5 [==============================] - 0s 2ms/step

array([[9.47918952e-01, 1.80906683e-01],
       [9.99999285e-01, 9.35827120e-05],
       [9.98945296e-01, 1.38229951e-02],
       [9.99887586e-01, 3.00618331e-03],
       [9.85756934e-01, 7.65620023e-02],
       [9.97079909e-01, 2.81033888e-02],
       [9.99001682e-01, 1.35775004e-02],
       [9.99995470e-01, 3.42278916e-04],
       [1.00000000e+00, 5.47291347e-06],
       [2.89689720e-01, 7.39793956e-01],
       [9.99995828e-01, 3.29482951e-04],
       [2.09628344e-01, 7.90371656e-01],
       [9.99983668e-01, 8.39739514e-04],
       [9.99850035e-01, 3.61424265e-03],
       [9.99991536e-01, 5.36419044e-04],
       [1.00000000e+00, 5.56204714e-06],
       [9.99999642e-01, 5.21544935e-05],
       [9.99999166e-01, 1.06798820e-04],
       [4.19060528e-01, 6.55584157e-01],
       [9.99994755e-01, 3.72094742e-04],
       [9.78060961e-01, 1.00358069e-01],
       [1.00000000e+00, 8.21211142e-06],
       [9.99996781e-01, 2.71350902e-04],
       [2.09628344e-01, 7.90371656e-01],
       [8.49040389e-01, 3.19472343e-01],
       [9.99999881e-01, 3.65392552e-05],
       [2.09628344e-01, 7.90371656e-01],
       [2.09628344e-01, 7.90371656e-01],
       [2.09628344e-01, 7.90371656e-01],
       [9.99987960e-01, 6.32653711e-04],
       [2.09628344e-01, 7.90371656e-01],
       [9.99936342e-01, 1.95108005e-03],
       [1.00000000e+00, 1.26298028e-06],
       [7.10145295e-01, 4.54358667e-01],
       [9.99999881e-01, 1.98984999e-05],
       [9.99816239e-01, 4.38542292e-03],
       [9.99605834e-01, 7.11369235e-03],
       [1.00000000e+00, 3.22696749e-08],
       [9.99982715e-01, 8.49311589e-04],
       [9.99992371e-01, 4.86430421e-04],
       [1.00000000e+00, 3.39839130e-06],
       [9.99976516e-01, 1.03682629e-03],
       [9.99931216e-01, 2.03717523e-03],
       [9.98740613e-01, 1.53567307e-02],
       [1.00000000e+00, 1.46299089e-06],
       [2.09628344e-01, 7.90371656e-01],
       [9.99432623e-01, 8.69980920e-03],
       [9.99920726e-01, 2.31536501e-03],
       [2.09628344e-01, 7.90371656e-01],
       [9.92265999e-01, 5.33699319e-02],
       [9.99906659e-01, 2.74723279e-03],
       [1.00000000e+00, 1.28758657e-07],
       [9.86128867e-01, 7.66726285e-02],
       [9.98258889e-01, 1.92795116e-02],
       [1.00000000e+00, 1.22007250e-05],
       [9.99994397e-01, 3.96289135e-04],
       [9.99991775e-01, 4.60717012e-04],
       [9.99999046e-01, 1.22849349e-04],
       [9.77609932e-01, 1.03790775e-01],
       [1.00000000e+00, 5.87292061e-06],
       [1.00000000e+00, 2.63193715e-06],
       [1.00000000e+00, 5.75020704e-06],
       [9.99998212e-01, 1.86834572e-04],
       [1.00000000e+00, 5.62740661e-06],
       [9.99998927e-01, 1.18796139e-04],
       [9.99999881e-01, 3.13885612e-05],
       [9.99499202e-01, 8.32247362e-03],
       [9.94329631e-01, 4.23410237e-02],
       [9.99643326e-01, 7.01953191e-03],
       [2.09628344e-01, 7.90371656e-01],
       [2.09628344e-01, 7.90371656e-01],
       [9.98192966e-01, 2.07583196e-02],
       [1.00000000e+00, 1.04936089e-06],
       [9.99999762e-01, 4.66505044e-05],
       [9.99999523e-01, 6.51680966e-05],
       [9.99999762e-01, 3.76271164e-05],
       [2.09628344e-01, 7.90371656e-01],
       [1.00000000e+00, 2.38817938e-06],
       [9.70755637e-01, 1.19386263e-01],
       [1.00000000e+00, 1.67285507e-05],
       [2.09628344e-01, 7.90371656e-01],
       [9.99809444e-01, 4.06221440e-03],
       [7.64421999e-01, 4.02031958e-01],
       [7.57589161e-01, 4.06250775e-01],
       [2.09628344e-01, 7.90371656e-01],
       [3.17493737e-01, 7.21072733e-01],
       [9.99999762e-01, 5.26150834e-05],
       [1.00000000e+00, 8.42420559e-06],
       [2.09628344e-01, 7.90371656e-01],
       [2.09628344e-01, 7.90371656e-01],
       [9.99898672e-01, 2.92722858e-03],
       [9.99951959e-01, 1.63784297e-03],
       [9.99967217e-01, 1.29745691e-03],
       [9.99999523e-01, 7.08370499e-05],
       [1.00000000e+00, 3.06005427e-06],
       [9.99613583e-01, 7.50676822e-03],
       [9.99999523e-01, 7.07947765e-05],
       [1.00000000e+00, 1.09664816e-05],
       [2.09628344e-01, 7.90371656e-01],
       [9.99958634e-01, 1.61911163e-03],
       [9.99771535e-01, 5.13846753e-03],
       [9.98209357e-01, 1.86908133e-02],
       [1.00000000e+00, 5.50583081e-06],
       [9.99704897e-01, 5.93994604e-03],
       [1.00000000e+00, 1.16270849e-05],
       [1.00000000e+00, 5.92671995e-06],
       [9.94868517e-01, 4.14337777e-02],
       [9.05083001e-01, 2.45293185e-01],
       [2.09628344e-01, 7.90371656e-01],
       [9.99967933e-01, 1.36029639e-03],
       [9.99945045e-01, 1.83278578e-03],
       [9.98914838e-01, 1.47034125e-02],
       [9.99999642e-01, 6.09898307e-05],
       [9.99997854e-01, 2.08163954e-04],
       [9.99998569e-01, 1.44073187e-04],
       [2.09628344e-01, 7.90371656e-01],
       [9.99982715e-01, 8.34331848e-04],
       [2.24907815e-01, 7.79468834e-01],
       [9.99976516e-01, 1.02437858e-03],
       [2.09628344e-01, 7.90371656e-01],
       [4.01061922e-01, 6.62035048e-01],
       [9.99999881e-01, 2.66644638e-05],
       [9.99993801e-01, 4.21149307e-04],
       [2.09628344e-01, 7.90371656e-01],
       [9.99999762e-01, 5.17630579e-05],
       [1.00000000e+00, 1.06283305e-05],
       [6.89469874e-01, 4.84264165e-01],
       [2.09628344e-01, 7.90371656e-01],
       [1.00000000e+00, 9.17376656e-06],
       [1.00000000e+00, 6.46901253e-06],
       [1.00000000e+00, 4.79621485e-06],
       [9.99859691e-01, 3.50853940e-03],
       [9.98933375e-01, 1.34743908e-02],
       [2.09628344e-01, 7.90371656e-01],
       [2.09628344e-01, 7.90371656e-01],
       [9.99986768e-01, 7.00172444e-04],
       [9.95876312e-01, 3.28162611e-02],
       [1.00000000e+00, 1.19217366e-05],
       [1.00000000e+00, 6.45086311e-06],
       [9.99007642e-01, 1.34402812e-02],
       [9.99997616e-01, 2.37202010e-04]], dtype=float32)

In [ ]:
print('Results for Categorical Model')
print(model.evaluate(np.asarray(X_test).astype('float32'), np.asarray(Y_test).astype('float32')))

Results for Categorical Model
5/5 [==============================] - 0s 4ms/step - loss: 0.0656 - accuracy: 0.9787

[0.06559177488088608, 0.978723406791687]

In [ ]:
# save the model by taking user input
save = input('Do you want to save the model? (y/n): ')
if save == 'y':
    model.save('ASD_model', overwrite=True, save_format='keras')
    print('Model saved successfully!')
else:
    print('Model was not saved!')
    sys.exit()